{% extends "layout.html" %}
{% block title %}Account{% endblock %}
{% block body %}

	<h2>Account</h2>

	<table>
		<tbody>
			<tr>
				<td>USHPA Number: </td>
				<td>{{ session['user_ushpa'] }}</td>
			</tr>
			<tr>
				<td>First Name: </td>
				<td>{{ session['firstname'] }}</td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td>{{ session['lastname'] }}</td>
			</tr>
			<tr>
				<td>Last Payment: </td>
				<td>${{ account['amount'] }}</td>
			</tr>
			<tr>
				<td>Date of Last Payment: </td>
				<td>{{ account['date'] }}</td>
			</tr>
		</tbody>
	</table>
	
	<a href="{{ url_for('pay') }}">Make Payment</a>

{% endblock %}
