{% extends "layout.html" %}
{% block title %}Officer Dashboard{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        <strong>Error</strong> {{ error }}
      </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#post" role="tab" data-toggle="tab">Post</a></li>
            <li role="presentation"><a href="#members" role="tab" data-toggle="tab">Members</a></li>
            <li role="presentation"><a href="#other" role="tab" data-toggle="tab">Other</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="post">
              <div class="row">
                <div class="col-md-12">
                  <br/>
                  <div class="form-group">
    								<input type="text" id="news-subject" name="subject" class="form-control" placeholder="Subject">
    							</div>
    							<div class="form-group">
    								<textarea name="body" id="news-body" data-provide="markdown" data-hidden-buttons='["cmdPreview","cmdQuote", "cmdCode"]' class="form-control" rows="12" placeholder="Body"></textarea>
    							</div>
    							<div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                      <div class="btn-block">
                        <button id="preview" class="btn" type="button"><span class="glyphicon glyphicon-search"></span> Preview</button>
                        <button id="edit" style="display: none;" class="btn" type="button"><span class="glyphicon glyphicon-edit"></span> Edit</button>
    								    <input type="submit" value="Post" class="btn btn-primary" id="post-news">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="members">
              <div class="row">
                <div class="col-md-12">
                  <br/>
                  <table id="member-table" class="table tablesorter">
        						<thead>
        							<tr>
        								<th>First Name</th>
        								<th>Last Name</th>
        								<th>Pilot Rating</th>
        							</tr>
        						</thead>
        						<tbody>
        							{% for first, last, rating, status in members %}
        							<tr class="{{ 'success' if status=='Active' else 'danger' }}">
        								<td>{{ first }}</td>
        								<td>{{ last }}</td>
        								<td>{{ rating }}</td>
        							</tr>
        							{% endfor %}
        						</tbody>
        					</table>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="other">
              <div class="row">
                <div class="col-md-12">
                  <br/>
                  <p>Other officer feature(s) here</p>
                </div>
              </div>
            </div>
          </div> <!-- /.tab-content -->

        </div> <!-- /.panel-body -->

      </div> <!-- /.panel -->
    </div><!-- /.cols -->

  </div> <!-- /.row -->
</div> <!-- /.container -->

{% endblock %}

{% block post_body %}
<script type=text/javascript>

  $(document).ready(function() {
        $("#member-table").tablesorter();
  });

  $(document).on('click', '#preview', function() {
    $('#news-body').data('markdown').showPreview();
    $('#preview').hide();
    $('#edit').show();
  });

  $(document).on('click', '#edit', function() {
    $('#news-body').data('markdown').hidePreview();
    $('#edit').hide();
    $('#preview').show();
  });

  $(document).on('click', "#post-news", function() {
    $.ajax({
      url: "{{ url_for('officers.post_news') }}",
      type: "POST",
      data: {
        subject: $('#news-subject').val(),
        body: $('#news-body').val(),
        user_id: "{{ session['user']['id'] }}"
      },
      success: function(response) {
        $('#message-body').val('');
        window.location = "{{ url_for('home.news') }}"
      },
      error: function(error) {
        console.log(error);
      }
    });
  });

</script>
{% endblock %}
