{% extends "layout.html" %}
{% block title %}Members{% endblock %}
{% block body %}

{% include "/partials/subnav.html" %}

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<table id="member-table" class="table tablesorter">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Pilot Rating</th>
							</tr>
						</thead>
						<tbody>
							{% for first, last, rating, status in members %}
							<tr class="{{ 'success' if status=='Active' else 'danger' }}">
								<td>{{ first }}</td>
								<td>{{ last }}</td>
								<td>{{ rating }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block post_body %}

	<script type="text/javascript">
		$(document).ready(function()
				{
						$("#member-table").tablesorter();
				}
		);
	</script>

{% endblock %}
