<!doctype html>
<html lang="en">
	<head>
		<title>{% block title %}Welcome{% endblock %} | Bay Area Paragliders Association</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="content">
			<div class="container">
				{% include "partials/navigation.html" %}
				{% include "partials/flash.html" %}
				{% block body %}{% endblock %}
			</div>
		</div>
		<div class="container">
			{% include "partials/footer.html" %}
		</div>
	</body>
</html>
