{% extends "layout.html" %}
{% block title %}Club{% endblock %}

{% block post_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.min.css') }}" />
<script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/fullcalendar/dist/gcal.min.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About BAPA <small>Why should you join?</small></h1>
      <p>
        Joining the Bay Area Paragliding Association has many benefits.
        Our community of avid pilots and instructors can provide mentorship
        and comradery at any stage of a flying career. Most importantly,
        joining BAPA ensures we can continue to fly some of our beautiful
        Bay Area sites, as dues are used for site insurance, improvement,
        and administration.
      </p>
      <p>
        Dues are $30 per year. To join BAPA, simply
        <a href="{{ url_for('home.register') }}">create an account</a>
        and use the paypal link in your profile.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Events</h1>
        <div id="calendar"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Club Officers</h1>
      <p>These are the people that make BAPA happen.
        You too can be elected an officer by joining the club.</p>
    </div>
  </div>

  <div class="row" id="club-officers">
    {% for officer in officers %}
    <div class="col-lg-4 col-sm-6 text-center">
      <a href="{{ url_for('membership.profile', user_id=officer.id) }}">
        <!-- {{ profile_pic(officer.picture.get('public_id'), 200, 'img-circle img-center')|safe }} -->
        <!-- <img class="img-responsive img-circle img-center prof" alt="profile picture" src="https://i.imgur.com/xY37lcA.jpg"> -->
        <h3>{{ officer.firstname }} {{ officer.lastname }}
          <small>{{ officer.office }}</small>
        </h3>
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block post_body %}
<script type="text/javascript">
  $(function () {
      $('#calendar').fullCalendar({
        googleCalendarApiKey: '{{ google_api_key }}',
        events: {
            googleCalendarId: '{{ google_cal_id }}'
        }
      })

  });
</script>
{% endblock %}
