/* Because of our fixed footer */
body { padding-bottom: 70px; }

form .form-group:last-child{ margin-bottom: 0; }
.copyright { margin-left: 0; }

fieldset legend {
	padding-top: 22px;
}

.form-control:changed {
  border-color: #4B0082;
  box-shadow: inset 0 1px 1px rgba(75, 0, 130, 0.075), 0 0 8px rgba(75, 0, 130, 0.6);
}


#hero {
	background: url(http://i.imgur.com/a28uWNy.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	}
	#hero h1 {
		padding-top: 150px;
		text-shadow: 0 2px 2px rgba(0,0,0,0.4);
		}
	#hero hr {
		width: 50%;
		opacity: 0.8;
		}
	#hero .btn { margin: 10px; }


.container-if-fixed-footer


/* disk */
.disk:after {
    content:"●";
    color: dodgerblue;
}

/* tables */
table.tablesorter thead tr .header {
	background-image: url(/static/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/static/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/static/img/desc.gif);
}
/* 768px and below */
@media (max-width: 768px) {
	.copyright {
		display: inline-block;
		padding-left: 15px;
		}
}
