/* Because of our fixed footer */
body { padding-bottom: 70px; }

form .form-group:last-child{ margin-bottom: 0; }
.copyright { margin-left: 0; }

fieldset legend {
	padding-top: 22px;
}

.form-control:changed {
	border-color: #4B0082;
	box-shadow: inset 0 1px 1px rgba(75, 0, 130, 0.075), 0 0 8px rgba(75, 0, 130, 0.6);
}


#hero {
	background: url(http://i.imgur.com/a28uWNy.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
}
#hero h1 {
	padding-top: 150px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
#hero hr {
	width: 50%;
	opacity: 0.8;
}
#hero .btn { margin: 10px; }


/* disk */
.disk:after {
	content:"â—";
	color: dodgerblue;
}

/* tables */
table.tablesorter thead tr .header {
	background-image: url(/static/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/static/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/static/img/desc.gif);
}
/* 768px and below */
@media (max-width: 768px) {
	.copyright {
		display: inline-block;
		padding-left: 15px;
	}
}

label.required::after {
	content: "*";
	color: red;
}


/*remove link style from officer table*/
td a {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none;
}

.copy button.btn-sm {
	padding: 3px;
	margin-left: 4px;
}

a.commit {
	font-size: .8em;
	font-family: "Courier New", Courier, monospace;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.flashes > p {
	 font-family: 'Roboto', sans-serif;
	 font-size: 18px;
	 font-weight: lighter;
	 text-align: center;
 }


/* Profile stuff */

.officer-actions button {
	margin-bottom: 10px;
}

.profile {
    min-height: 355px;
    display: inline-block;
}

.profile .profile-picture img {
	margin: auto;
	margin-bottom: 12px;
}

.profile .profile-picture .edit-icons {
	position: absolute;
	bottom: 12px;
	width: 100%;
	color: #FFF;
}

.profile .profile-picture .edit-icons a {

}

.profile .social-media {
  margin: 10px;
}

.profile a {
	color: #651D33;
	cursor: pointer;
	text-decoration: none;
}

.profile .user-data a {
	color: black;
}


.profile .divider {
    border-top:1px solid rgba(0,0,0,0.1);
}

.profile .emphasis {
    border-top: 4px solid transparent;
}

.profile .emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.profile .emphasis h2 {
    margin-bottom:0;
}

.profile .username h2 {
	display: inline-block;
}

.profile .edit-icons label {
	padding-right: 20px;
}

.profile span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.profile .dropdown-menu {
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.profile .dropdown-menu .divider {
    background:none;
}

.profile .dropdown-menu>li>a {
    color:#f5f5f5;
}

.profile .dropup .dropdown-menu {
    margin-bottom:10px;
}

.profile .dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
