{% extends "layout.html" %}
{% block title %}Pay Member Dues{% endblock %}
{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">

				{% if error %}
					<div class="alert alert-danger" role="alert">
						<strong>Error</strong> {{ error }}
					</div>
				{% endif %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">BAPA Club Finances</h3>
					</div>
					<div class="panel-body">
							{% if session['user']['ushpa']%}
							<div class="form-group">
								<label>USHPA Pilot Number</label>
								<input type="text" name="ushpa" value="{{ session['user']['ushpa'] }}" readonly class="form-control">
							</div>
							{% else %}
							<div class="form-group">
								<label>Email Address</label>
								<input type="text" name="email" value="{{ session['user']['email'] }}" readonly class="form-control">
							</div>
							{% endif %}

							<div class="form-group">
								<fieldset title="Become a member of BAPA">
									<legend>Club Dues</legend>
									<form action="{{ paypal['endpoint'] }}" method="post" target="_blank">
										<input type="hidden" name="custom" value="{{ session['user']['id']}}">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="{{ paypal['button_id'] }}">
										<input type="image" src="{{ paypal['domain'] + '/en_US/i/btn/btn_paynowCC_LG.gif' }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="{{ paypal['domain'] + '/en_US/i/scr/pixel.gif' }}" width="1" height="1">
									</form>
								</fieldset>
								<fieldset title="Support the Club">
									<legend>Donation</legend>
									<form action="{{ paypal['endpoint'] }}" method="post" target="_blank">
										<input type="hidden" name="custom" value="{{ session['user']['id']}}">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="{{ paypal['button_id'] }}">
										<input type="image" src="{{ paypal['domain'] + '/en_US/i/btn/btn_paynowCC_LG.gif' }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="{{ paypal['domain'] + '/en_US/i/scr/pixel.gif' }}" width="1" height="1">
									</form>
								</fieldset>
							</div>

					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
