{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
<!-- http://bootsnipp.com/snippets/featured/flat-user-profile-ui -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <div class="well profile">
        <div class="col-sm-12">

          <div class="col-xs-12 col-sm-5">

            <div class="username">
              <h2>{{ profile.nickname or (profile_user_data.firstname ~ ' ' ~ profile_user_data.lastname) }}</h2>
            </div>

            <div class="pilot-data">
              <p><strong>Ratings: </strong>{{ profile.ratings }}</p>
              <p><strong>Wing: </strong>{{ profile.wing_info }}</p>
              <p><strong>Callsign: </strong>{{ profile.callsign }}</p>
              {% if profile.sites %}
              <p><strong>Sites: </strong>
                {% for x in profile.sites.split(',') %}
                <span class="tags">{{ x.strip().title() }}</span>
                {% endfor %}
              </p>
              {% endif %}
              {% if profile.company or profile.website %}
              <p><strong>Website: </strong> <a href="{{ '//'*(not profile.website.startswith('http'))+profile.website or '#'}}" target="_blank"><i class="fa fa-briefcase"></i> {{ profile.company }}</a></p>
              {% endif %}
            </div>

            {% if session.user.get('officer') and not own_profile %}
            <div class="officer-actions">
              <div class="btn-group dropdown btn-block">
                <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Officers </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu text-left" role="menu">
                  {% if not own_profile and is_officer(session.user.id) %}
                    {% if not is_officer(profile_user_data.id) %}
                    <li><a href="#" onclick="add_officer()"><span class="fa fa-plus pull-right"></span>Appoint Officer</a></li>
                    {% else %}
                    <li><a href="#" onclick="remove_officer()"><span class="fa fa-minus pull-right"></span>Unappoint Officer</a></li>
                    {% endif %}
                  {% endif %}
                  <li><a href="#"><span class="fa fa-plus pull-right"></span>Appoint Instructor</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="fa fa-warning pull-right"></span>Delete user</a></li>
                </ul>
              </div>
            </div>
            {% endif %}

          </div>

          <div class="col-xs-12 col-sm-1 text-center">
            <div class="social-media">
              {% set field_icon_list = [
              ('delorme', 'globe'),
              ('linkedin', 'linkedin'),
              ('facebook', 'facebook'),
              ('instagram', 'instagram'),
              ('twitter', 'twitter'),
              ('google', 'google'),
              ('github', 'github'),
              ('youtube', 'youtube'),
              ('vimeo', 'vimeo'),
              ('soundcloud', 'soundcloud') ]%}
              {% for field, icon in field_icon_list %}
              {% if profile[field] %}
              <a href="{{ profile[field]}}" target="_blank" class="fa fa-{{ icon }} fa-lg"></a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 text-center">
            <div class="profile-picture">
              <figure>
                {% if profile.picture %}
                {{ profile.picture_html|safe }}
                {% else %}
                <img class="img-responsive prof" alt="profile picture" src="http://i.imgur.com/xY37lcA.jpg">
                {% endif %}
                {% if own_profile %}
                <div class="edit-icons">
                  <form action="{{ url_for('membership.profile_picture') }}" method="post" style="display:inline;" id="profile-pic-form" enctype="multipart/form-data">
                    <label for="profile-pic-upload"><a class="btn-o"><i class="fa fa-camera"></i> Change</a></label>
                    <input type="file" name="picture" onchange="this.form.submit()" form="profile-pic-form" id="profile-pic-upload" class="hidden">
                  </form>
                </div>
                {% endif %}
              </figure>
            </div>
          </div>
        </div>

        {% if session.user.get('officer') or own_profile %}
        <div class="col-xs-12 divider">
          <div class="col-xs-12 col-sm-4 emphasis">
            <div class="user-data membership">
              <h4><i class="fa fa-picture-o"></i> Membership</h4>
              <p><a href="#"><strong>Membership :</strong> {{ 'Active' if is_member(session.user.id) else 'Not Active' }}</a></p>
              <p><a href="#"><strong>Last Payment :</strong> {{ date_parse(profile_user_data.last_payment['date']) }}</a></p>
              {% if own_profile %}
              <p>
                <form action="{{ paypal['endpoint'] }}" method="post" target="_top">
                  <input type="hidden" name="custom" value="{{ session['user']['id']}}">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="{{ paypal['button_id'] }}">
                  <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypalcheckout-26px.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
              </p>
              {% endif %}
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 emphasis">
            <div class="user-data contact">
              <h4><i class="fa fa-address-card-o"></i> Contact</h4>
              <p><strong>Name :</strong> {{ profile_user_data.firstname ~ ' ' ~ profile_user_data.lastname }}</p>
              <p><strong>Email :</strong> {{ profile_user_data.email }}</p>
              <p><strong>Phone :</strong> {{ profile.cellphone }}</p>
              <p><strong>Address :</strong><br>
                {{ profile.address }}<br>
                {{ profile.city }}, {{ profile.state }}    {{ profile.zipcode}}
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 emphasis">
            <div class="user-data emergency">
              <h4><i class="fa fa-address-card"></i> Emergency Contact</h4>
              <p><strong>Name :</strong> {{ profile.emergency_contact }}</p>
              <p><strong>Phone :</strong> {{ profile.emergency_phone }}</p>
            </div>
          </div>

        </div>
        {% endif %}

        {% if own_profile %}
        <div class="col-sx-12">
          <a href="{{ url_for('membership.edit_profile') }}" class="btn-o"><i class="fa fa-pencil-square-o fa-lg"></i> Edit Profile</a>
          <a href="{{ url_for('membership.profile', public=True) }}" class="btn-o pull-right"><i class="fa fa-eye fa-lg"></i> View Public Profile</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block post_body %}
{% include "partials/modals/appointments.html" %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/clipboard/dist/clipboard.min.js') }}"></script>
<script type="text/javascript">

  function add_officer() {
    $('#officer-appoint').modal('show');
  }

  function remove_officer() {
    $('#officer-unappoint').modal('show');
  }

  /* clipboard stuff */
  var clipboard = new Clipboard('.btn');
  clipboard.on('success', function(e) {
      console.log(e);
  });
  clipboard.on('error', function(e) {
      console.log(e);
  });

</script>
{% endblock %}
