{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-text copyright">&copy; BAPA {{ year }}</p>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottom-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		</div>
		<div class="collapse navbar-collapse" id="bottom-nav">
		  <ul class="nav navbar-nav">
			<li><a href="/page/privacy-policy">Privacy</a></li>
			<li><a href="/page/terms-conditions">Terms &amp; Conditions</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/kelleydv/Bapa" target="_blank">Made with <span style="color: crimson">&hearts;</span> in the Bay Area</a></li>
			<li><a class="commit" href="#">{{ env+':'+commit_hash }}</a></li>
		  </ul>
		</div>
	</div>
</nav>
{% endblock %}
