{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">

		<p class="navbar-text copyright">&copy; BAPA {{ year }}</p>

		<ul class="nav navbar-nav">
			<li><a href="/page/privacy-policy">Privacy</a></li>
			<li><a href="/page/terms-conditions">Terms &amp; Conditions</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/kelleydv/Bapa" target="_blank">Made with <span style="color: crimson">&hearts;</span> in the Bay Area</a></li>
		</ul>
	</div>
</nav>
{% endblock %}
