{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% block body %}

    <h2>Reset Password</h2>

    {% if error %}
        <div class="error">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}

    <form action="{{ url_for('password.reset') }}" method="POST">

        <div class="form-control">
            <label for="password">New Password: </label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form-control">
            <label for="password2">New Password (verify): </label>
            <input type="password" name="password2" id="password2">
        </div>


        <div class="form-control">
            <input type="submit" value="Send">
        </div>
    </form>

{% endblock %}
