
  <div class="col-md-12">
    <br/>
    <table id="officer-table" class="table tablesorter officer">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Office</th>
        </tr>
      </thead>
      <tbody>
        {% for officer in officers %}
          <tr class="{{ 'success' if status=='Active' else 'danger' }}" data-href="{{ url_for('membership.profile', user_id=id) }}">
            <td>{{ officer.firstname }}</td>
            <td>{{ officer.lastname }}</td>
            <td>{{ officer.office }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
