
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ entry['subject'] }}</h3>
    </div>
    <div class="panel-body">
      <div class="news">
        {{ entry['body']|safe }}
      </div>
    </div>
    <div class="panel-footer">
      <small class="pull-left">Posted by {{ entry['name'] }}</small>
      <small class="pull-right">Last updated {{ entry.get('timestamp') }}</small>
      <br/>
      {% if session['user'].get('officer') or session['user'].get('admin') %}
      <button data-delete-post data-post-id="{{ entry['id'] }}" type="button" class="btn btn-sm btn-danger-outline pull-right">Delete</button>
      <br/>
      {% endif %}
    </div>
  </div>
