
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ entry['subject'] }}</h3>
          {% if session.get('user') and is_officer(session['user']['id']) %}
          <button class="close" type="button" aria-label="Delete" data-delete-post data-post-id="{{ entry['id'] }}"><span aria-hidden="true">×</span></button>
          <a class="edit-news" type="button" href="{{ url_for('officers.edit_news', news_id=entry['id']) }}"><i class="fa fa-pencil-square-o"></i></a>
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="news">
            {{ entry['body']|safe }}
          </div>
        </div>
        <div class="panel-footer">
          <div class="col-xs-6">
            <small class="pull-left">Posted by {{ entry['name'] }} {{ entry.get('timestamp') }}</small>
          </div>
          {% if entry.get('updated_by') %}
          <div class="col-xs-6">
            <small class="pull-right">Updated by {{ entry.get('updated_by').split()[0] }} {{ entry.get('updated_at') }}</small>
          </div>
          {% endif %}
          <br>
        </div>
      </div>
    </div>
  </div>
