{% extends "layout.html" %}
{% block title %}Pay Member Dues{% endblock %}
{% block body %}
  <h2>Pay Dues</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post">
    <dl>
      <dt>USHPA Pilot Number:
      <dd><input type="number" name="ushpa" size="5" value="{{ request.form['ushpa'] }}">
      <dt>Password:
      <dd><input type="password" name="password" size="30">
      <dt>Amount:
      <dd>$<input type="number" name="amount" size="10">
    </dl>
    <div class="actions"><input type="submit" value="Make Payment"></div>
  </form>
{% endblock %}