{% extends "layout.html" %}
{% block title %}Authenticate{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error</strong> {{ error }}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Authenticate</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ url_for('home.simple_auth') }}" method="POST">

                            <div class="form-group">
                                <label for="password">Enter Password: </label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Authenticate" class="btn btn-primary pull-right">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
