{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block post_head %}
<style type="text/css">
	body { overflow: hidden; }
	.navbar { margin-bottom: 0; }
</style>
{% endblock %}

{% block body %}

	<div id="hero">
		<div class="container center-vertically">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Join BAPA and Take Flight</h1>
					<hr>
					<a href="{{ url_for('home.register') }}" class="btn btn-default btn-lg">Register</a>
					<a href="{{ url_for('home.login') }}" class="btn btn-default btn-lg">Login</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block post_body %}
<script type="text/javascript">
	$(document).ready(function() {

		var $hero = $('#hero');
		var $nav = $('nav');

		var size = function() {
			$hero.height( $(window).height() - ($nav.outerHeight()*2) );
		};

		$(window).on('resize', size).trigger('resize');
	});
</script>
{% endblock %}
