{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">

				{% if error %}
					<div class="alert alert-danger" role="alert">
						<strong>Error</strong> {{ error }}
					</div>
				{% endif %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Login</h3>
					</div>
					<div class="panel-body">
						<form action="{{ url_for('home.login') }}" method="POST">

							<div class="form-group">
								<label for="ushpa">USHPA Pilot Number</label>
								<input type="text" name="ushpa" id="ushpa" value="{{ request.form.ushpa }}" class="form-control" placeholder="12345">
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control">
							</div>

							<div class="form-group">
								<a href="{{ url_for('password.reset_request') }}" class="btn btn-default">Forgot Password?</a>
								<input type="submit" value="Sign In" class="btn btn-primary pull-right">
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
