{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% include "partials/recaptcha_js_link.html"%}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">

				{% if error %}
					<div class="alert alert-danger" role="alert">
						<strong>Error</strong> {{ error }}
					</div>
				{% endif %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Register</h3>
					</div>
					<div class="panel-body">
						<form action="{{ url_for('home.register') }}" method="POST">

							<div class="form-group">
								<label for="ushpa">USHPA Pilot Number</label>
								<input type="text" name="ushpa" id="ushpa" value="{{ request.form.ushpa }}" class="form-control" placeholder="12345">
							</div>

							<div class="form-group">
								<label for="firstname">First Name</label>
								<input type="text" name="firstname" id="firstname" value="{{ request.form.firstname }}" class="form-control" placeholder="John">
							</div>

							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" name="lastname" id="lastname" value="{{ request.form.lastname }}" class="form-control" placeholder="Doe">
							</div>

							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" value="{{ request.form.email }}" class="form-control" placeholder="johndoe@example.com" required>
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control" required>
							</div>

							<div class="form-group">
								<label for="password2">Password (verify)</label>
								<input type="password" name="password2" id="password2" class="form-control" required>
							</div>

							{% include "partials/recaptcha_widget.html" %}

							<div class="form-group">
								<input type="submit" value="Register" class="btn btn-primary pull-right">
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
