{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

	<h2>Sign Up</h2>

	{% if error %}
		<div class="error">
			<strong>Error:</strong> {{ error }}
		</div>
	{% endif %}

	<form action="{{ url_for('home.register') }}" method="POST">

		<div class="form-control">
			<label for="ushpa">USHPA Pilot Number: </label>
			<input type="text" name="ushpa" id="ushpa" value="{{ request.form.ushpa }}">
		</div>

		<div class="form-control">
			<label for="firstname">First Name: </label>
			<input type="text" name="firstname" id="firstname" value="{{ request.form.firstname }}">
		</div>

		<div class="form-control">
			<label for="lastname">Last Name: </label>
			<input type="text" name="lastname" id="lastname" value="{{ request.form.lastname }}">
		</div>

		<div class="form-control">
			<label for="email">Email: </label>
			<input type="email" name="email" id="email" value="{{ request.form.email }}">
		</div>

		<div class="form-control">
			<label for="password">Password: </label>
			<input type="password" name="password" id="password">
		</div>

		<div class="form-control">
			<label for="password2">Password (verify): </label>
			<input type="password" name="password2" id="password2">
		</div>

		<div class="form-control">
			<input type="submit" value="Sign Up">
		</div>
	</form>

{% endblock %}
